.nav-item {
  width: 25%;
  font-weight: bold;
  cursor: pointer;
}

.nav {
  min-height: 6%;
  max-height: 6%;
  border-top: 1px solid lightgray;
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.item-inactive {
  color: #73d2de;
}

.item-active {
  color: #0b132b;
}

.item-disabled {
  color: rgba(211, 211, 211, 0.651);
}
