.enter-button {
  border: 1px solid #73d2de;
  border-radius: 4px;
  height: 30px;
  width: 70px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  background: #3a506b;
  color: #73d2de;
}

.enter-button:disabled {
  color:red ;
}

.balance-headline {
  font-weight: bold;
  font-size: 12px;
  color: #73d2de;
}

.balance-value {
  font-size: 16px;
  color: #0B132B;
  font-weight: bold;
}

.view-holder {
  color: #73d2de;
  padding: 0px 28px;
  flex: 0 1 auto;
  min-height: 84%;
  max-height: 84%;
  overflow-y: scroll;
  padding-bottom: 8%;
}